# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
churn/
venv/
env/
.venv/

# Data
data/

# MLflow
mlruns/

# Artifacts (optional)
artifacts/

# Jupyter
notebooks/
.ipynb_checkpoints/

# OS
.DS_Store

# Logs
*.log